body {
  background: linear-gradient(to right, #816767, #dab674, #bdbd75, #6ac76a, #48a9c7, #479bd3, #6759e4);
}

h1, h2 {
  font-family: 'Lato', sans-serif;
}

h1 {
  color: #468B00;
}

h2 {
  color: #A9D907;
}
p {
  text-align: center;
}

/* Start of Navigation */
.column1 h6, h5{
    font-size: 20px;
    color: #28683b;
}
.column1 {
  width: 12%;
  background-color:#d3d3d3;
  text-align: center;
}
.column2 {
  float: left;
  width: 88%;
}
.navbar-nav {
    width: 100%;
}
.nav-link img {
    margin-right: 5px;
}
.ul.navbar-nav.right {
  align-content: right;
}

/* End Of Navigation */

/* Start of Main */

#okvir {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px; 
}

.student {
  background-color: rgb(163, 163, 163);
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
}

.veliko-slovo {
  text-transform: capitalize;
}

.student img {
  border-radius: 50%;
  filter: sepia(0.1);
  transition: 0.8s;
}

.student img:hover {
  filter: sepia(0.8);
}

@media (min-width: 600px) {
  .student {
      width: 300px;
  }
}

/* End of Main */


