<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./css/styles_grid.css" />
</head>

<body>

    <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">CONTACT INFO</h4>
        </div>
        <div class="modal-body">
          <p class="naziv"></p>
          <p class="glumci"></p>
          <p class="plot"></p>
          <p class="nagrade"></p>
          <button id="ok" type="button">OK</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>